# Dependencias
node_modules
.pnp
.pnp.js

# Producción
dist
dist-electron
release
*.exe
*.dmg
*.apk

# Logs y Cache
*.log
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
